<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ros control plugin -->
  <xacro:macro name="ros_control">
    <gazebo>
      <!-- ROS 2 control plugin -->
      <plugin name='gazebo_ros2_control' filename='libgazebo_ros2_control.so'>
        <parameters>$(find rbcar_model)/config/rbcar_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:macro>

  <gazebo reference="base_footprint">
    <material>Gazebo/Green</material>
  </gazebo>

</robot>
